In [55]:
import numpy as np
import pandas as pd

In [56]:
questionnaire =  pd.read_csv("questionnaire.csv")
cols = questionnaire.columns

In [57]:
cols

Index(['Unnamed: 0', 'first_name', 'last_name', 'email', 'gender', 'dob',
       'commune', 'created_at', 'modified_at', 'department', 'education_level',
       'university', 'study_domain', 'current_employed', 'formal_sector_job',
       'have_computer_home', 'internet_at_home', 'hear_AA_1', 'after_AA'],
      dtype='object')

In [58]:
questionnaire

,Unnamed: 0,first_name,last_name,email,gender,dob,commune,created_at,modified_at,department,education_level,university,study_domain,current_employed,formal_sector_job,have_computer_home,internet_at_home,hear_AA_1,after_AA
0,0,Clivince,Estinvil,estinvilclivince1998@gmail.com,male,25/08/1998,ht0111,2021-02-14T23:03:52.768400Z,2021-02-14T23:03:52.768462Z,NaN,unknown,unknown,[],unknown,unknown,unknown,unknown,unknown,unknown
1,1,Byandy Naima,Bernadin,byandynaimabernadin12@gmail.com,female,29/09/1996,ht0111,2021-02-16T16:01:10.861844Z,2021-02-16T16:01:10.861899Z,ht01,Bachelors (bacc +4),other,['other'],No,unknown,Yes,Yes,Friend,Finding a job/internship
2,2,Wichley,Valentin,wichleyvalentin@gmail.com,male,17/05/1996,ht0111,2021-02-16T16:56:30.579504Z,2021-02-16T16:56:30.579563Z,ht01,Bachelors (bacc +4),Université d'Etat d'Haïti (UEH),[],No,unknown,Yes,Yes,Friend,Improving my data analysis skills
3,3,Kervens,St Sauveur,ksaintsauveur@gmail.com,male,24/11/1996,ht0111,2021-02-16T16:57:55.754541Z,2021-02-16T16:57:55.754582Z,ht01,Bachelors (bacc +4),Ecole Supérieure d'Infotronique d'Haïti (ESIH),"['item1', 'item6']",No,unknown,Yes,Yes,ESIH,Improving my data analysis skills
4,4,Steevenson,Emile,steevensedu@gmail.com,male,20/07/1997,ht0111,2021-02-16T17:05:40.907948Z,2021-02-16T17:05:40.907982Z,ht01,High School (16 years),unknown,['other'],No,unknown,Yes,Yes,WhatsApp,Mentorship
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,262,Claude,COLLEGUE,claudecollegue78@gmail.com,male,15/02/1994,ht0621,2021-03-02T18:39:19.873194Z,2021-03-02T18:39:19.873237Z,ht06,Bachelors (bacc +4),other,['other'],Yes,Yes,Yes,Yes,Facebook,Improving my data analysis skills
246,263,kalinov jim rozensky,dameus,jimkalinov@gmail.com,male,08/10/1990,ht0621,2021-03-10T04:12:49.436154Z,2021-03-10T04:12:49.436213Z,ht06,Bachelors (bacc +4),Université d'Etat d'Haïti (UEH),['item8'],Yes,Yes,Yes,Yes,Friend,Improving my data analysis skills
247,264,Kasseem Joe,CHERY,joekasseem@gmail.com,male,28/12/1993,ht0621,2021-03-14T15:29:32.474015Z,2021-03-14T15:29:32.474055Z,ht06,Bachelors (bacc +4),Centre de Techniques de Planification et d'Eco...,['item2'],Yes,Yes,Yes,Yes,Friend,Improving my data analysis skills
248,265,Nacisse,Hernsley,rnsley@gmail.com,male,17/04/1992,ht0412,2021-03-08T16:35:07.806100Z,2021-03-08T16:35:07.806161Z,ht04,Bachelors (bacc +4),other,['item1'],No,unknown,Yes,Yes,Facebook,Improving my data analysis skills
249,266,Jeffey Mackenzy,Paul,pauljeffeymackenzy@gmail.com,male,22/07/1993,ht1012,2021-03-10T21:41:05.708748Z,2021-03-10T21:41:05.708787Z,ht10,Masters,other,['other'],No,unknown,Yes,Yes,Facebook,Improving my data analysis skills

In [59]:
import uuid

In [60]:
str(uuid.uuid1())

'8fa3a4c4-ce95-11eb-ae31-7c67a234f601'

In [61]:
questionnaire["quest_id"] = np.nan

In [62]:
for index in range(questionnaire.shape[0]):
    questionnaire.loc[index,"quest_id"] = str(uuid.uuid1())

In [63]:
 questionnaire.loc[:,"quest_id"]

0      905dc006-ce95-11eb-b2f9-7c67a234f601
1      905ddcf2-ce95-11eb-9a92-7c67a234f601
2      905e2608-ce95-11eb-809f-7c67a234f601
3      905e4cf5-ce95-11eb-96a9-7c67a234f601
4      905e73fd-ce95-11eb-a7b0-7c67a234f601
                       ...
245    906b3c84-ce95-11eb-8c2a-7c67a234f601
246    906b3c85-ce95-11eb-9b87-7c67a234f601
247    906b3c86-ce95-11eb-b6a7-7c67a234f601
248    906b65e2-ce95-11eb-8b5c-7c67a234f601
249    906b65e3-ce95-11eb-a294-7c67a234f601
Name: quest_id, Length: 250, dtype: object

In [64]:
quest = questionnaire.drop(columns=["Unnamed: 0","first_name","last_name"])

In [65]:
quest

,email,gender,dob,commune,created_at,modified_at,department,education_level,university,study_domain,current_employed,formal_sector_job,have_computer_home,internet_at_home,hear_AA_1,after_AA,quest_id
0,estinvilclivince1998@gmail.com,male,25/08/1998,ht0111,2021-02-14T23:03:52.768400Z,2021-02-14T23:03:52.768462Z,NaN,unknown,unknown,[],unknown,unknown,unknown,unknown,unknown,unknown,905dc006-ce95-11eb-b2f9-7c67a234f601
1,byandynaimabernadin12@gmail.com,female,29/09/1996,ht0111,2021-02-16T16:01:10.861844Z,2021-02-16T16:01:10.861899Z,ht01,Bachelors (bacc +4),other,['other'],No,unknown,Yes,Yes,Friend,Finding a job/internship,905ddcf2-ce95-11eb-9a92-7c67a234f601
2,wichleyvalentin@gmail.com,male,17/05/1996,ht0111,2021-02-16T16:56:30.579504Z,2021-02-16T16:56:30.579563Z,ht01,Bachelors (bacc +4),Université d'Etat d'Haïti (UEH),[],No,unknown,Yes,Yes,Friend,Improving my data analysis skills,905e2608-ce95-11eb-809f-7c67a234f601
3,ksaintsauveur@gmail.com,male,24/11/1996,ht0111,2021-02-16T16:57:55.754541Z,2021-02-16T16:57:55.754582Z,ht01,Bachelors (bacc +4),Ecole Supérieure d'Infotronique d'Haïti (ESIH),"['item1', 'item6']",No,unknown,Yes,Yes,ESIH,Improving my data analysis skills,905e4cf5-ce95-11eb-96a9-7c67a234f601
4,steevensedu@gmail.com,male,20/07/1997,ht0111,2021-02-16T17:05:40.907948Z,2021-02-16T17:05:40.907982Z,ht01,High School (16 years),unknown,['other'],No,unknown,Yes,Yes,WhatsApp,Mentorship,905e73fd-ce95-11eb-a7b0-7c67a234f601
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,claudecollegue78@gmail.com,male,15/02/1994,ht0621,2021-03-02T18:39:19.873194Z,2021-03-02T18:39:19.873237Z,ht06,Bachelors (bacc +4),other,['other'],Yes,Yes,Yes,Yes,Facebook,Improving my data analysis skills,906b3c84-ce95-11eb-8c2a-7c67a234f601
246,jimkalinov@gmail.com,male,08/10/1990,ht0621,2021-03-10T04:12:49.436154Z,2021-03-10T04:12:49.436213Z,ht06,Bachelors (bacc +4),Université d'Etat d'Haïti (UEH),['item8'],Yes,Yes,Yes,Yes,Friend,Improving my data analysis skills,906b3c85-ce95-11eb-9b87-7c67a234f601
247,joekasseem@gmail.com,male,28/12/1993,ht0621,2021-03-14T15:29:32.474015Z,2021-03-14T15:29:32.474055Z,ht06,Bachelors (bacc +4),Centre de Techniques de Planification et d'Eco...,['item2'],Yes,Yes,Yes,Yes,Friend,Improving my data analysis skills,906b3c86-ce95-11eb-b6a7-7c67a234f601
248,rnsley@gmail.com,male,17/04/1992,ht0412,2021-03-08T16:35:07.806100Z,2021-03-08T16:35:07.806161Z,ht04,Bachelors (bacc +4),other,['item1'],No,unknown,Yes,Yes,Facebook,Improving my data analysis skills,906b65e2-ce95-11eb-8b5c-7c67a234f601
249,pauljeffeymackenzy@gmail.com,male,22/07/1993,ht1012,2021-03-10T21:41:05.708748Z,2021-03-10T21:41:05.708787Z,ht10,Masters,other,['other'],No,unknown,Yes,Yes,Facebook,Improving my data analysis skills,906b65e3-ce95-11eb-a294-7c67a234f601

In [78]:
enroll = pd.read_csv("enrollment.csv")
enroll = pd.merge(left=enroll,right =quest[["quest_id","email"]],how="left",left_on="user_email",right_on="email")

In [79]:
enroll = enroll.drop(columns=["Unnamed: 0","email","id"])

,created_at,user_email,user_name,expiry_date,user_id,course_name,course_id,percentage_completed,completed_at,expired,is_free_trial,completed,started_at,activated_at,updated_at,quest_id
0,2020-12-12T06:41:29.844Z,marvelfdsamazon@gmail.com,Yvel Marcelin,NaN,29816173,Entwodiksyon Nan Syans Done,1047613,0.000000,NaN,False,True,False,NaN,NaN,2020-12-12T06:41:29.844Z,NaN
1,2020-12-13T14:41:17.720Z,samueljoseph014@gmail.com,Samuel Joseph,NaN,35229766,Entwodiksyon Nan Syans Done,1047613,0.000000,NaN,False,True,False,NaN,NaN,2020-12-13T14:41:17.720Z,NaN
2,2020-12-15T00:53:06.499Z,hectorvehuel@gmail.com,Vehuel Hector,NaN,31987560,Entwodiksyon Nan Syans Done,1047613,0.000000,NaN,False,True,False,NaN,NaN,2020-12-15T00:53:06.499Z,NaN
3,2020-12-18T18:38:55.683Z,champagne.randy@gmail.com,Randy Champagne,NaN,35616451,Entwodiksyon Nan Syans Done,1047613,0.000000,NaN,False,True,False,NaN,NaN,2020-12-18T18:38:55.683Z,NaN
4,2020-12-21T14:45:06.528Z,ealexandre@anseyepouayiti.org,ALEXANDRE Emmanuel,NaN,35390649,Entwodiksyon Nan Syans Done,1047613,0.000000,NaN,False,True,False,NaN,NaN,2020-12-21T14:45:06.528Z,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143,2021-03-14T02:16:08.736Z,pauljeffeymackenzy@gmail.com,Jeffey Mackenzy Paul,2071-03-02T02:16:55.000Z,41508160,Entwodiksyon Nan Syans Done,1047613,0.279070,NaN,False,False,False,2021-03-14T02:18:52.472Z,2021-03-14T02:16:08.000Z,2021-03-14T03:32:18.768Z,906b65e3-ce95-11eb-a294-7c67a234f601
144,2021-03-14T04:20:30.803Z,ssaintlouis99@gmail.com,STANLEY SAINT LOUIS,NaN,41564742,Entwodiksyon Nan Syans Done,1047613,0.023256,NaN,False,False,False,2021-03-14T04:22:12.626Z,2021-03-14T04:20:30.786Z,2021-03-14T04:48:39.798Z,906636cf-ce95-11eb-8679-7c67a234f601
145,2021-03-14T07:34:09.491Z,davidlouis301@yahoo.fr,David Louis,2071-03-02T07:34:26.000Z,41569249,Entwodiksyon Nan Syans Done,1047613,0.000000,NaN,False,False,False,NaN,2021-03-14T07:34:09.000Z,2021-03-14T07:34:26.558Z,906241d5-ce95-11eb-9850-7c67a234f601
146,2021-03-14T15:34:39.800Z,joekasseem@gmail.com,Kasseem Joe CHERY,NaN,41587952,Entwodiksyon Nan Syans Done,1047613,0.325581,NaN,False,False,False,2021-03-14T15:34:56.007Z,2021-03-14T15:34:39.768Z,2021-03-14T17:30:53.379Z,906b3c86-ce95-11eb-b6a7-7c67a234f601
147,2021-03-14T17:34:44.861Z,josephobed2016@gmail.com,Obed Charlot Joseph,2071-03-02T17:34:52.000Z,41592698,Entwodiksyon Nan Syans Done,1047613,0.046512,NaN,False,False,False,2021-03-14T17:36:13.505Z,2021-03-14T17:34:44.000Z,2021-03-14T17:39:40.547Z,NaN

In [82]:
orders  = pd.read_csv("orders.csv")
orders = pd.merge(left=orders,right =quest[["quest_id","email"]],how="left",left_on="user_email",right_on="email")
orders = orders.drop(columns=["Unnamed: 0","email","id"])
orders

,created_at,user_id,user_email,user_name,product_name,product_id,amount_dollars,amount_cents,subscription,coupon_code,coupon_id,affiliate_referral_code,status,quest_id
0,2021-03-14T15:34:35.014Z,41587952,joekasseem@gmail.com,Kasseem Joe CHERY,Entwodiksyon Nan Syans Done,1100636,20.0,2000,False,NaN,NaN,NaN,Complete,906b3c86-ce95-11eb-b6a7-7c67a234f601
1,2021-03-14T04:20:23.483Z,41564742,ssaintlouis99@gmail.com,STANLEY SAINT LOUIS,Entwodiksyon Nan Syans Done,1100636,20.0,2000,False,NaN,NaN,NaN,Complete,906636cf-ce95-11eb-8679-7c67a234f601
2,2021-03-12T19:29:22.832Z,41501853,jeanlouisroodgessjunior@gmail.com,Roodgess junior Jean-louis,Entwodiksyon Nan Syans Done,1100636,20.0,2000,False,NaN,NaN,NaN,Complete,906968f5-ce95-11eb-9e1a-7c67a234f601
3,2021-03-12T14:23:11.154Z,40284930,pierrefredrich@gmail.com,.Pierre Fredrich,Entwodiksyon Nan Syans Done,1100636,0.0,0,False,impact_hub_coupon,6658457.0,NaN,Complete,9060477c-ce95-11eb-ace3-7c67a234f601
4,2021-03-11T16:01:17.901Z,40281483,plvanessa86@gmail.com,Josette Vanessa Plonquet,Entwodiksyon Nan Syans Done,1100636,20.0,2000,False,NaN,NaN,NaN,Complete,9064ff29-ce95-11eb-a3d3-7c67a234f601
5,2021-03-03T00:35:29.698Z,34858658,mieevens.berger@gmail.com,Marie Evens Berger,Entwodiksyon Nan Syans Done,1100636,20.0,2000,False,NaN,NaN,NaN,Complete,9065740c-ce95-11eb-968f-7c67a234f601
6,2021-03-01T23:34:27.375Z,40131930,moiseromuald@gmail.com,ROMUALD MOISE,Entwodiksyon Nan Syans Done,1100636,20.0,2000,False,NaN,NaN,NaN,Complete,906a52b7-ce95-11eb-9c4b-7c67a234f601
7,2021-02-25T15:36:26.464Z,40411976,lguerlinx@gmail.com,Guerlinx Laforet,Entwodiksyon Nan Syans Done,1100636,20.0,2000,False,NaN,NaN,NaN,Complete,90617f12-ce95-11eb-a3c8-7c67a234f601
8,2021-02-25T04:45:53.407Z,40388669,manasse.michel@ayitianalytics.org,Manassé Michel,Entwodiksyon Nan Syans Done,1100636,0.0,0,False,testing_course_1,6516246.0,NaN,Complete,NaN
9,2021-02-24T21:22:15.936Z,40369133,valerypinchinat97@gmail.com,Valéry Pinchinat,Entwodiksyon Nan Syans Done,1100636,0.0,0,False,prerequisite_course,6513409.0,NaN,Complete,9061312a-ce95-11eb-ba28-7c67a234f601
10,2021-02-23T15:42:17.501Z,40278060,jcphanie2@gmail.com,Joseph Stéphanie,Entwodiksyon Nan Syans Done,1100636,20.0,2000,False,NaN,NaN,NaN,Complete,9064ff28-ce95-11eb-857f-7c67a234f601
11,2021-02-22T19:16:35.371Z,39857484,jesula.bernadin@esih.edu,Jesula Bernadin,Entwodiksyon Nan Syans Done,1100636,20.0,2000,False,NaN,NaN,NaN,Complete,905ec1ec-ce95-11eb-8136-7c67a234f601
12,2021-02-20T22:59:46.749Z,40121178,bricefabienne4@gmail.com,Fabienne Brice,Entwodiksyon Nan Syans Done,1100636,20.0,2000,False,NaN,NaN,NaN,Complete,NaN
13,2021-02-18T14:45:02.292Z,39908510,carlievaldayardpetit@gmail.com,Carlie Valdayard Petit,Entwodiksyon Nan Syans Done,1100636,20.0,2000,False,NaN,NaN,NaN,Complete,905f5dc1-ce95-11eb-bfa7-7c67a234f601
14,2021-02-17T13:48:38.371Z,39903501,mathaus17prenelus@gmail.com,Mathaus PRENELUS,Entwodiksyon Nan Syans Done,1100636,20.0,2000,False,NaN,NaN,NaN,Complete,NaN
15,2021-02-17T11:08:54.385Z,39896120,wilkydouze73@gmail.com,Wilky Douze,Entwodiksyon Nan Syans Done,1100636,0.0,0,False,bootcamp_enroll,6452874.0,NaN,Complete,9062b754-ce95-11eb-b31e-7c67a234f601
16,2021-02-16T20:09:31.627Z,39856539,jeanothniel@yahoo.fr,othniel jean,Entwodiksyon Nan Syans Done,1100636,20.0,2000,False,NaN,NaN,NaN,Complete,9069789f-ce95-11eb-9788-7c67a234f601
17,2021-01-05T04:00:41.222Z,34856150,stjngermili@gmail.com,Germila Saint-Jean,Entwodiksyon Nan Syans Done,1100636,20.0,2000,False,NaN,NaN,NaN,Complete,NaN

In [86]:
study_domain  = pd.read_csv("study_domain.csv")
study_domain = pd.merge(left=study_domain,right =quest[["quest_id","email"]],how="left")
study_domain = study_domain.drop(columns=["Unnamed: 0","email"])
study_domain

       key            values                              quest_id
0    other             other  905ddcf2-ce95-11eb-9a92-7c67a234f601
1    item1  Computer Science  905e4cf5-ce95-11eb-96a9-7c67a234f601
2    item6        Management  905e4cf5-ce95-11eb-96a9-7c67a234f601
3    other             other  905e73fd-ce95-11eb-a7b0-7c67a234f601
4    other             other  905e9b27-ce95-11eb-9c37-7c67a234f601
..     ...               ...                                   ...
282  other             other  906b3c84-ce95-11eb-8c2a-7c67a234f601
283  item8          Medicine  906b3c85-ce95-11eb-9b87-7c67a234f601
284  item2        Statistics  906b3c86-ce95-11eb-b6a7-7c67a234f601
285  item1  Computer Science  906b65e2-ce95-11eb-8b5c-7c67a234f601
286  other             other  906b65e3-ce95-11eb-a294-7c67a234f601

[287 rows x 3 columns]

In [87]:
industry  = pd.read_csv("industry_instersed.csv")
industry = pd.merge(left=industry,right =quest[["quest_id","email"]],how="left")
industry = industry.drop(columns=["Unnamed: 0","email"])
industry

,key,values,quest_id
0,item1,Finance,905ddcf2-ce95-11eb-9a92-7c67a234f601
1,item6,Technology (Software/ Internet),905e2608-ce95-11eb-809f-7c67a234f601
2,item5,Education,905e2608-ce95-11eb-809f-7c67a234f601
3,item3,Consulting,905e2608-ce95-11eb-809f-7c67a234f601
4,item7,Energy,905e2608-ce95-11eb-809f-7c67a234f601
...,...,...,...
802,item4,Public Sector/ Non-Profit Agencies,906b3c86-ce95-11eb-b6a7-7c67a234f601
803,item6,Technology (Software/ Internet),906b65e2-ce95-11eb-8b5c-7c67a234f601
804,item3,Consulting,906b65e3-ce95-11eb-a294-7c67a234f601
805,item5,Education,906b65e3-ce95-11eb-a294-7c67a234f601
806,item4,Public Sector/ Non-Profit Agencies,906b65e3-ce95-11eb-a294-7c67a234f601

In [93]:
study_domain  = pd.read_csv("study_domain.csv")
study_domain = pd.merge(left=study_domain,right =quest[["quest_id","email"]],how="left")
study_domain = study_domain.drop(columns=["Unnamed: 0","email"])
study_domain

       key            values                              quest_id
0    other             other  905ddcf2-ce95-11eb-9a92-7c67a234f601
1    item1  Computer Science  905e4cf5-ce95-11eb-96a9-7c67a234f601
2    item6        Management  905e4cf5-ce95-11eb-96a9-7c67a234f601
3    other             other  905e73fd-ce95-11eb-a7b0-7c67a234f601
4    other             other  905e9b27-ce95-11eb-9c37-7c67a234f601
..     ...               ...                                   ...
282  other             other  906b3c84-ce95-11eb-8c2a-7c67a234f601
283  item8          Medicine  906b3c85-ce95-11eb-9b87-7c67a234f601
284  item2        Statistics  906b3c86-ce95-11eb-b6a7-7c67a234f601
285  item1  Computer Science  906b65e2-ce95-11eb-8b5c-7c67a234f601
286  other             other  906b65e3-ce95-11eb-a294-7c67a234f601

[287 rows x 3 columns]

In [95]:
technology  = pd.read_csv("tech_familiar.csv")
technology = pd.merge(left=technology,right =quest[["quest_id","email"]],how="left")
technology = technology.drop(columns=["Unnamed: 0","email"])
technology

        key              values                              quest_id
0     item1                   R  905ddcf2-ce95-11eb-9a92-7c67a234f601
1    item11               Excel  905ddcf2-ce95-11eb-9a92-7c67a234f601
2     item2              Python  905e2608-ce95-11eb-809f-7c67a234f601
3     item3                Java  905e2608-ce95-11eb-809f-7c67a234f601
4     item4          JavaScript  905e2608-ce95-11eb-809f-7c67a234f601
..      ...                 ...                                   ...
673  item10                 SQL  906b3c86-ce95-11eb-b6a7-7c67a234f601
674  item13  PowerBI or Tableau  906b3c86-ce95-11eb-b6a7-7c67a234f601
675  item10                 SQL  906b65e2-ce95-11eb-8b5c-7c67a234f601
676   item1                   R  906b65e3-ce95-11eb-a294-7c67a234f601
677  item11               Excel  906b65e3-ce95-11eb-a294-7c67a234f601

[678 rows x 3 columns]